   .search-bar {
      width: 400px;
      height: 36px;
      padding-left: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
    }
      .search-btn {
      height: 36px;
      width: 60px;
    }
  .header{
    display:flex;
  }  
.left{
  background-color:lightblue;
  width:200px;
}
.middle{
  background-color:lightpink;
}
.right{
  background-color:black;
}